---
import PageLayout from '../layouts/PageLayout.astro';

import { getEntry } from 'astro:content';
import CourseCard from '../components/CourseCard.astro';
import AcknowledgmentCard from '../components/AcknowledgementCard.astro';

const coursesEntry = await getEntry('teaching', 'teaching');
if (!coursesEntry) {
  throw new Error('Could not find teaching');
}
const { data: courses } = coursesEntry;

const guestSpeakersEntry = await getEntry('acknowledgements', 'guestspeakers');
if (!guestSpeakersEntry) {
  throw new Error('Could not find guest speakers');
}
const { data: guestSpeakers } = guestSpeakersEntry;
---

<PageLayout title="Teaching">
  <div class="px-0 md:px-6">
    <h2 class="mb-4">Courses</h2>
    {courses.map((c) => <CourseCard type={c.type} year={c.year} title={c.title} school={c.school} />)}
  </div>
  <div class="px-0 md:px-6">
    <h2 class="mt-12 mb-4">Acknowledgements</h2>
    <h3>Guest Speakers</h3>
    <div class:list={['grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3']}>
      {
        guestSpeakers.map((speaker) => (
          <AcknowledgmentCard
            firstName={speaker.firstName}
            lastName={speaker.lastName}
            description={speaker.description}
            website={speaker.website}
          />
        ))
      }
    </div>
  </div>
</PageLayout>
