---
import PageLayout from '../layouts/PageLayout.astro';

import { getEntry } from 'astro:content';
import TeamCard from '../components/TeamCard.astro';

const teamEntry = await getEntry('team', 'team');
if (!teamEntry) {
  throw new Error('Could not find team');
}

const alumniEntry = await getEntry('team', 'alumni');
if (!alumniEntry) {
  throw new Error('Could not find alumni');
}

const { data: team } = teamEntry;
const { data: alumni } = alumniEntry;
---

<PageLayout title="Team">
  <div class="grid grid-cols-1 xs:grid-cols-3 md:grid-cols-4 gap-y-10 gap-x-5 pt-4 xs:pt-8">
    {team.length === 0 && <p>No team found.</p>}
    {
      team
        .sort((a, b) => (a.firstName.toLowerCase() < b.firstName.toLowerCase() ? -1 : 1))
        .map((t) => (
          <TeamCard
            firstName={t.firstName}
            lastName={t.lastName}
            role={t.role}
            description={t.description}
            website={t.website}
            imageUrl={t.imageUrl}
          />
        ))
    }
  </div>
  <h2 class="mt-12 mb-4">Alumni</h2>
  <div class="grid grid-cols-1 xs:grid-cols-3 md:grid-cols-4 gap-y-10 gap-x-5">
    {alumni.length === 0 && <p>No alumni found.</p>}
    {
      alumni
        .sort((a, b) => (a.firstName.toLowerCase() < b.firstName.toLowerCase() ? -1 : 1))
        .map((t) => (
          <TeamCard
            firstName={t.firstName}
            lastName={t.lastName}
            role={t.role}
            description={t.description}
            website={t.website}
            imageUrl={t.imageUrl}
          />
        ))
    }
  </div>
</PageLayout>
